<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='js/materialize.js') }}"> -->

    <!-- <script src="{{ url_for('static', filename='js/materialize.js') }}"></script> -->
    <link rel="stylesheet" type="text/css" href="[[ url_for('static', filename='css/materialize.css') ]]">  <!--Materialize CSS-->
    <link rel="stylesheet" type="text/css" href="[[ url_for('static', filename='css/main.css') ]]">         <!--My own CSS-->
    <script src="[[ url_for('static', filename='js/materialize.js') ]]"></script>                           <!--Materialize JS-->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">                  Materialize icons -->
    <script src="[[ url_for('static', filename='js/vue_dev.js') ]]"></script>                               <!--VueJS framework for developpement-->
    <script src="[[ url_for('static', filename='js/axios.js') ]]"></script>                                 <!--Axios plugin-->
    <link rel="stylesheet" type="text/css" href="[[ url_for('static', filename='css/material-icons.css') ]]">                   <!--Materialize icons-->
    
    

</head>
<body>
          
    


   <div class="valign-wrapper" style="width:100%;height:100%;position: absolute;">
      <div id='root' class="container">
            <div class="row">
                <div class="col s6 offset-s3"><span class="flow-text">
                    <welcomecard v-if='show[0]' title='Welcome !'  @gonext="nextElem()">Hi ! You are gonna be asked to enter informations you gathered from your Cardiotogaphy and we are gonna give you somme insights about it !</welcomecard>
                    <inputcard v-model='oneElem' v-if='show[1]' title='LB' @enter='nextElem' @goprev='prevElem();' @gonext="nextElem">The foestus heart rate baseline (beats per minute) <template v-slot:error> <span class="red-text">{{errMsg}}</span> </template> </inputcard>
                    <inputcard v-model='oneElem' v-if='show[2]' title='AC' @enter='nextElem' @goprev='prevElem();' @gonext="nextElem">The number of accelerations per second <template v-slot:error> <span class="red-text">{{errMsg}}</span> </template> </inputcard>
                    <inputcard v-model='oneElem' v-if='show[3]' title='FM' @enter='nextElem' @goprev='prevElem();' @gonext="nextElem">The number of fetal movements per second <template v-slot:error> <span class="red-text">{{errMsg}}</span> </template> </inputcard>
                    <inputcard v-model='oneElem' v-if='show[4]' title='UC' @enter='nextElem' @goprev='prevElem();' @gonext="nextElem">The number of uterine contractions per second  <template v-slot:error> <span class="red-text">{{errMsg}}</span> </template> </inputcard>
                    <inputcard v-model='oneElem' v-if='show[9]' title='DL' @enter='nextElem' @goprev='prevElem();' @gonext="nextElem">The number of light decelerations per second  <template v-slot:error> <span class="red-text">{{errMsg}}</span> </template> </inputcard>
                    <inputcard v-model='oneElem' v-if='show[10]' title='DS' @enter='nextElem' @goprev='prevElem();' @gonext="nextElem">The number of severe decelerations per second <template v-slot:error> <span class="red-text">{{errMsg}}</span> </template> </inputcard>
                    <inputcard v-model='oneElem' v-if='show[11]' title='DP' @enter='nextElem' @goprev='prevElem();' @gonext="nextElem">The number of of prolongued decelerations per second <template v-slot:error> <span class="red-text">{{errMsg}}</span> </template> </inputcard>
                    <inputcard v-model='oneElem' v-if='show[5]' title='ASTV' @enter='nextElem' @goprev='prevElem();' @gonext="nextElem">Percentage of time with abnormal short term variability  <template v-slot:error> <span class="red-text">{{errMsg}}</span> </template> </inputcard>
                    <inputcard v-model='oneElem' v-if='show[6]' title='MSTV' @enter='nextElem' @goprev='prevElem();' @gonext="nextElem">Mean value of short term variability <template v-slot:error> <span class="red-text">{{errMsg}}</span> </template> </inputcard>
                    <inputcard v-model='oneElem' v-if='show[7]' title='ALTV' @enter='nextElem' @goprev='prevElem();' @gonext="nextElem">Percentage of time with abnormal long term variability <template v-slot:error> <span class="red-text">{{errMsg}}</span> </template> </inputcard>
                    <inputcard v-model='oneElem' v-if='show[8]' title='MLTV' @enter='nextElem' @goprev='prevElem();' @gonext="nextElem">Mean value of long term variability  <template v-slot:error> <span class="red-text">{{errMsg}}</span> </template> </inputcard>
                    <inputcard v-model='oneElem' v-if='show[12]' title='Width' @enter='nextElem' @goprev='prevElem();' @gonext="nextElem">Width of FHR histogram  <template v-slot:error> <span class="red-text">{{errMsg}}</span> </template> </inputcard>
                    <inputcard v-model='oneElem' v-if='show[13]' title='Min' @enter='nextElem' @goprev='prevElem();' @gonext="nextElem">Minimum of FHR histogram  <template v-slot:error> <span class="red-text">{{errMsg}}</span> </template> </inputcard>
                    <inputcard v-model='oneElem' v-if='show[14]' title='Max' @enter='nextElem' @goprev='prevElem();' @gonext="nextElem">The number of accelerations per second <template v-slot:error> <span class="red-text">{{errMsg}}</span> </template> </inputcard>
                    <inputcard v-model='oneElem' v-if='show[15]' title='Nmax' @enter='nextElem' @goprev='prevElem();' @gonext="nextElem">The number of histogram peaks  <template v-slot:error> <span class="red-text">{{errMsg}}</span> </template> </inputcard>
                    <inputcard v-model='oneElem' v-if='show[16]' title='Nzeros' @enter='nextElem' @goprev='prevElem();' @gonext="nextElem">The number of histogram zeros  <template v-slot:error> <span class="red-text">{{errMsg}}</span> </template> </inputcard>
                    <inputcard v-model='oneElem' v-if='show[17]' title='Mode' @enter='nextElem' @goprev='prevElem();' @gonext="nextElem">Histogram mode  <template v-slot:error> <span class="red-text">{{errMsg}}</span> </template> </inputcard>
                    <inputcard v-model='oneElem' v-if='show[18]' title='Mean' @enter='nextElem' @goprev='prevElem();' @gonext="nextElem">Histogram mean  <template v-slot:error> <span class="red-text">{{errMsg}}</span> </template> </inputcard>
                    <inputcard v-model='oneElem' v-if='show[19]' title='Median' @enter='nextElem' @goprev='prevElem();' @gonext="nextElem">Histogram median <template v-slot:error> <span class="red-text">{{errMsg}}</span> </template> </inputcard>
                    <inputcard v-model='oneElem' v-if='show[20]' title='Variance' @enter='nextElem' @goprev='prevElem();' @gonext="nextElem">Histogram variance <template v-slot:error> <span class="red-text">{{errMsg}}</span> </template> </inputcard>
                    <!-- <resultcard v-if='show[21]' title='Welcome'  @rettry="nextElem">Given the data you just entered our model says that their is a {{resultCLASS.CLASS}} with a probability of {{resultCLASS.Prob}}&percnt; and that the foetus is {{dataNSP.NSP}} with a probability of {{dataNSP.Prob}}&percnt;</resultcard> -->
                    <resultcard v-if='show[21]' title='Results' @retry='retry'> Given the data you just entered our model says that their is a {{resultCLASS.CLASS}} with a probability of {{resultCLASS.Prob}}&percnt; and that the foetus is {{resultNSP.NSP}} with a probability of {{resultNSP.Prob}}&percnt;   </resultcard>

                    

                    
                </div>
            </div>
        </div>
    </div>

         
   <script src="[[url_for('static', filename='js/main.js')]]"></script>
   
    
</body>
</html>